<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Montserrat', sans-serif;
        }
    </style>
</head>
<body>
    <center>
        <p><b>Nome:</b></p>
        <p>{{name}}</p>
        <p><b>Assunto:</b></p>
        <p>{{subject}}</p>
        <p><b>Mensagem:</b></p>
        <p>{{message}}</p>
    </center>
    <hr>
    <img src="https://drive.google.com/file/d/1zBeBcepAjzIUyKppFpUbTqCJ8_qUF6LI/view?usp=sharing" alt="Padrão Fidalgo">
    <p>PADRÃO FIDALGO API - API </p>
</body>
</html>